.footer {
    height: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(29, 52, 72);
    color: rgba(191, 227, 255, 0.773);
    text-align: center;
 }

 .footer-title{
    padding-top:7px;
 }
