.my-navbar-nav{
    height: 50px;
    padding-left: 30px;

}

.logo-movies{
    height:40px;
}

a.my-navlink{
    color: white;
    transition: 0.5s ease;
}

a.my-navlink:hover{

    color: #00acc1
}
