.home-index{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    overflow: hidden;
}

.title-main{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(234, 234, 234);
    padding-top: 45px;
    padding-bottom:15px;
}

.image-home{
    height: 300px;
}

my-button{
    padding-top: 30px;
    text-decoration:none;
    color: rgb(255, 255, 255);
    background-color: #00ACC1;
}
