.movie-section{
    background-color: black;
}

.period-icon{
    color: #918777;
    font-size: medium;
}

.movie-cover{
    height: 250px;
    object-fit:contain;
}

.movie-title{
    color: white;
    font-size: 12px;
    font-family: Tahoma;

}

.movie-details{
    color: #918777;
    font-size: 11px;
    font-family: Tahoma;
}

.my-blue{
    color:#00c8ff;
}
.star-icon{
    color:#00c8ff;
    font-size: 12px;
}

.US-flag{
    height:10px;
}
